html {
    margin: auto;
}

body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 16px;
    color: #a4a1a8;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    color: #1db288;
}

h4, h5, h6 {
    font-size: 20px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

a {
    color: #373c42;
}

li {
    font-size: 20px;
}

button {
    margin: 0;
    padding: 0;
    height: 50px;
    width: 150px;
    border-radius: 15px;
    font-size: 20px;
    color: #1db288;
    border:none;
    text-decoration: none;
}

button:hover {
	background-color: #000000;
    box-shadow: 0 0 11px #ffffff;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #5b6e8e;
}

::placeholder {
    color: #ffffff;
    opacity: 1; 
}


textarea {
    width: 100%;
    height: 150px;
    margin-top: 25px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #5b6e8e;
    resize: none;
}

.background-grey {
    background-color: #52647a;
}

.background-black {
    background-color: #000000
}

.Navigation {
    height: 80px;
    position: sticky;
    overflow: hidden;
    top: 0;
    z-index: 2;
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
    padding-left: 25%;
    display: inline-block;
}

.nav-menu>li {
    color: #ffffff;
    height: 100%;
    width: 100px;
    display: inline-block;
    margin-left: -4px;
    padding: 30px 5px 30px 30px;
    border-style: dotted;
    border-width: 0px 0.5px 0px 0px;
    border-color: black;
}

.nav-menu>li:last-child {
    border: 0px;
}

.nav-menu>li:hover {
    background-color: #708bad;
    color: #000000;
    font-size: 21px;
    box-shadow: 0 0 11px #0a0a0c;
}

.carousel-container {
    height: 500px;
    background-image: url(../assets/web-carousel.jpg);
    background-size: 100% 500px;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel-elements {
    padding-top: 15%;
    position: relative;
}

.carousel-button {
    position: absolute;
    top: 110%;
    bottom: 0;
    left: 45%;
}

.carousel-elements>h1, h2, h3 {
    text-align: center;
}

.contributer-container {
    height: 500px;
}

.contributer-container > h3 {
	padding-top:30px;
}

.contributer-container > p {
	text-align: center;
}

.contributer-container > hr {
	border-width: 1px;
	border-color: #79777c;
	width: 80%;
}

.contributers-list {
    padding-left: 20%;    
}

.contributer-tile {
	display: inline-block;
	width: 250px;
    height: 300px;
    padding-top: 50px;
    margin-left: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contributer-tile > img {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.contributer-tile > p {
    text-align: center;
    color: #ffffff;
}

.newsfeed-container {
    height: 400px;
    position: relative;
}

.newsfeed {
    margin-left: 10px;
    padding-left: 20px;
    width: 30%;
    height: 100%;
    display: inline-block;
    position: relative;
}

.newsfeed > p {
    text-align: justify;
    position: absolute;
    top: 100px;
}

.newsfeed > button {
    position: absolute;
    bottom: 50px;
    right: 20px
}

.newsfeed > button:after {
    content: '\00bb';
}

.newsfeed-header {
    width: 100%;
    display: inline-block;
    padding-top: 50px;
    position: relative;
}

.newsfeed-header > h4 {
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 60px;
}

.newsfeed-header > p {
    margin: 0;
    position: absolute;
    top: 55px;
    left: 60px;
}

.material-icons {
    position: absolute;
    top: 30px;
    left: 0;
}

.material-icons.md-48 { 
    font-size: 48px; 
}

.contact-detail-container {
    height: 600px;
    position: relative;
}

.article-feed {
    height: 100%;
    width: 65%;
    display: inline-block;
}

.article-feed > hr {
    margin-top: 0;
    margin-bottom: 0; 
    width: 90%;
    border-width: 1px;
    border-color: #79777c;
}

.articles {
    width: 100%;
    height: 50%;
    display: inline-block;
    position: relative;
}

.articles > img {
    position: absolute;
    top: 15px;
    left: 20px;
    width: 30%;
    height: 85%;
    border-radius: 15px;
}

.articles > h3 {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 300px;
}

.articles > h4 {
    font-size: 16px;
    display: inline-block;
    position: absolute;
    top: 45px;
    left: 300px;
}

.articles > p {
    text-align: justify;
    display: inline-block;
    position: absolute;
    top: 100px;
    left: 300px;
}

.articles > button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.articles > button:after {
    content: '\00bb';
}

.contact-form {
    height: 100%;
    width: 30%;
    display: inline-block;
    position: relative;
}

.contact-form-header {
    width: 100%;
    height: 20%;
    position: relative;
}

.contact-form-header {
    display: inline-block;
    position: absolute;
}

.contact-form-header > h4 {
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 60px;
}

.contact-form-header > p {
    margin: 0;
    position: absolute;
    top: 55px;
    left: 60px;
}

.contact-form-inputs > form {
    position: absolute;
    height: 450px;
    padding: 15px;
    top: 100px;
    left: 60px;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer-container {
    height: 40px;
}