html {
    margin: auto;
}

body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 16;
    color: #a4a1a8;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    color: #1db288;
}

h4, h5, h6 {
    font-size: 20px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

a {
    color: #373c42;
}

li {
    font-size: 20px;
}

button {
    margin: 0;
    padding: 0;
    height: 50px;
    width: 150px;
    border-radius: 15px;
    font-size: 20px;
    color: #1db288;
    border:none;
    text-decoration: none;
}

button:hover {
	background-color: #000000;
    box-shadow: 0 0 11px #ffffff;
}

.background-grey {
    background-color: #52647a;
}

.background-black {
    background-color: #000000
}

.Navigation {
    height: 80px;
    position: sticky;
    overflow: hidden;
    top: 0;
    z-index: 2;
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
    padding-left: 25%;
    display: inline-block;
}

.nav-menu>li {
    color: #ffffff;
    height: 100%;
    width: 100px;
    display: inline-block;
    margin-left: -4px;
    padding: 30px 5px 30px 30px;
    border-style: dotted;
    border-width: 0px 0.5px 0px 0px;
    border-color: black;
}

.nav-menu>li:last-child {
    border: 0px;
}

.nav-menu>li:hover {
    background-color: #708bad;
    color: #000000;
    font-size: 21px;
    box-shadow: 0 0 11px #0a0a0c;
}

.carousel-container {
    height: 500px;
    background-image: url(../assets/web-carousel.jpg);
    background-size: 100% 500px;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel-elements {
    padding-top: 15%;
    position: relative;
}

.carousel-button {
    position: absolute;
    top: 110%;
    bottom: 0;
    left: 45%;
}

.carousel-elements>h1, h2, h3 {
    text-align: center;
}

.contributer-container {
    height: 500px;
}

.contributer-container > h3 {
	padding-top:30px;
}

.contributer-container > p {
	text-align: center;
}

.contributer-container > hr {
	border-width: 1px;
	border-color: #79777c;
	width: 80%;
}

.contributers-list {
    padding-left: 20%;    
}

.contributer-tile {
	display: inline-block;
	width: 250px;
    height: 300px;
    padding-top: 50px;
    margin-left: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contributer-tile > img {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.contributer-tile > p {
    text-align: center;
    color: #ffffff;
}

.newsfeed-container {
    height: 400px;
}

.contact-detail-container {
    height: 600px;
}

.footer-container {
    height: 40px;
}